:root {

}

.AppContainer {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  width: 90%;
  margin: 0vh 0vw 0vh 0vw;
}

.LogoHeader{
  display: flex;
  flex-direction: column;
  width: 80%
}
.LinkHeader {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 20%
}

.lewineLink {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-basis: 100%;
  height: inherit;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.serviceLink,
.musicLink,
.companyLink,
.helloLink {
  display: flex;
  flex-direction: column;
  height: inherit;
  flex-basis: 100%;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 10vh;
  color: #000000;
  /* z-index: 0; */
  top: 0;
}

.NavHeader {

}

.AppFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10vh;
  color: #000000;
  z-index: 0;
  bottom: 0;
}

.VideoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

/* .helloContainer, */
.animationHeader,
.soundContainer,
.musicContainer,
.artContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 10vh 0vw 10vh 0vw; */
  height: 200vh;
  width: 100%;
  color: #000000;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.jobProfiles {
  width: 50%;
}

.soundContainer .col2 {
  list-style-type: none;
}

.soundContainer .col3 {
  flex-direction: row;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-weight: bold;
}

.serviceCta {

}

.animationHeader .col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.musicCta,
.companyCta {
  width: 40%;
}

.serviceCta,
.helloCta {
  width: 90%;
}

.musicCta,
.companyCta,
.helloCta,
.serviceCta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;
  border: solid 1px #000000;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #000000;
  height: 10vh;
  margin: auto;
  text-decoration: none;
}

.contactCta {
  color: #000000;
  text-decoration: none;
}

.musicCta:hover,
.companyCta:hover,
.helloCta:hover.
.serviceCta:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.musicCta:active,
.companyCta:active,
.helloCta:active,
.serviceCta:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.musicCta:visited,
.companyCta:visited,
.helloCta:visited,
.serviceCta:visited {
  background-color: rgba(0, 0, 0, 0.85);
}

.githubLink {
  text-decoration: none;
  color: #000000;
}

.githubLink {
  display: inline;
  font-weight: bold;
}

.logo {
  display: flex;
  margin: 0 auto;
  transform: rotate3d(1,1,1,0deg);
  width: 23vw;
  height: 23vh;
  fill: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* font-size ------------------------------------- */

.AppHeader {
  font-size: 2vmin;
}

.AppFooter {
  font-size: 2vmin;
}

.col1 {
  font-weight: bold;
  font-size: 3.1vmin;
}

.col3 {
  font-size: 3vmin
}

.soundContainer .col2 {
  font-size: 3.4vmin;
}

.musicContainer .col2,
.artContainer .col2 {
  font-size: 3.2vmin;
}

.helloContainer .col2 {
  font-size: 4vmin;
}

.musicContainer .col3,
.artContainer .col3 {
  font-size: 3vmin;
}

.musicCta,
.companyCta,
.serviceCta,
.helloCta {
  font-size: 3vmin;
}


/* font-weight ------------------------------------- */

.animationHeader .col1,
.helloContainer .col1,
.soundContainer .col1,
.musicContainer .col1,
.artContainer .col1 {
  font-weight: bold;
  font-style: italic;
}

.soundContainer .col2,
.musicContainer .col2,
.artContainer .col2,
.helloContainer .col2 {
  font-weight: 500;
}

.serviceCta,
.musicCta,
.companyCta,
.helloCta {
  font-weight: bold;
}

.soundContainer .col2 {
  font-weight: bold;
}
